@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .font-attention {
        @apply bg-gradient-to-r from-[#7d3fce] to-[#a142f4] text-white px-4 pb-1;
    }
    html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth !important;
    }
    body {
        --background: var(--red);
        --accent: var(--white);
    }
    section {
        height: 100vh;
        position: relative;
        scroll-snap-align: center;
        perspective: 500px;
      }
      ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background: var(--background);
      }
      
      ::-webkit-scrollbar-thumb {
        background: var(--accent);
        -webkit-border-radius: 1ex;
      }
      
      ::-webkit-scrollbar-corner {
        background: red;
      }
      body {
        overflow-x: hidden;
      }

      .btn {
        position: relative;
        color: #dcff2d;
        transition: color 0.1s ease-out;
        z-index: 1 !important;
      }

      .btn:hover {
        color: #140c3e;
      }

      .btn::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #dcff2d;
        top: 0px;
        left: 0px;
        transition: width 0.05s ease-in-out;
        z-index: -1 !important;
      }

      .btn:hover::before {
        width: 100%;
      }
      .side::before {
        content: '';
        width: 1px;
        height: 100px;
        background-color: #bdaecd;
        display: block;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
      }
      .social-icon:hover g {
        fill: red !important;
      }
      
}
